@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<div class="container">
    <h1>Admin CRUD Page</h1>
    <table class="table">
        <tr>
            <td><a href="@Url.Action("Index", "Brands")">Brands</a></td>
            <td><a href="@Url.Action("Index", "Categories")">Categories</a></td>
            <td><a href="@Url.Action("Index", "SubCategories")">SubCategories</a></td>
        </tr>
        <tr>
            <td><a href="@Url.Action("Index", "Orders")">Orders</a></td>
            <td><a href="@Url.Action("Index", "CartItems")">CartItems</a></td>
            <td><a href="@Url.Action("Index", "Payments")">Payments</a></td>
        </tr>
        <tr>
            <td><a href="@Url.Action("Index", "Products")">Products</a></td>
            <td><a href="@Url.Action("Index", "ProductImages")">ProductImages</a></td>
            <td><a href="@Url.Action("Index", "Inventories")">Inventories</a></td>
        <tr>
            <td><a href="@Url.Action("Index", "Discounts")">Discounts</a></td>
            <td><a href="@Url.Action("Index", "Reviews")">Reviews</a></td>
            <td><a href="@Url.Action("Index", "Acount")">Accounts</a></td>
        </tr>
        <tr>
            <td><a href="@Url.Action("Index", "ProductSizes")">ProductSizes</a></td> 
            <td><a href="@Url.Action("Index", "Shipments")">Shipments</a></td>
        </tr>
    </table>
    @* <div>
        <nav class="header__menu">
            <ul>
                <li><a href="@Url.Action("Index", "Brands")">Brands</a></li>
                <li><a href="@Url.Action("Index", "CartItems")">CartItems</a></li>
                <li><a href="@Url.Action("Index", "Categories")">Categories</a></li>
                <li><a href="@Url.Action("Index", "Discounts")">Discounts</a></li>
                <li><a href="@Url.Action("Index", "Inventories")">Inventories</a></li>
                <li><a href="@Url.Action("Index", "Orders")">Orders</a></li>
                <li><a href="@Url.Action("Index", "Payments")">Payments</a></li>
                <li><a href="@Url.Action("Index", "ProductImages")">ProductImages</a></li>
                <li><a href="@Url.Action("Index", "Products")">Products</a></li>
                <li><a href="@Url.Action("Index", "Reviews")">Reviews</a></li>
                <li><a href="@Url.Action("Index", "SubCategories")">SubCategories</a></li>
            </ul>
        </nav>
    </div> *@
</div>