@using System.IdentityModel.Tokens.Jwt
@using System.Security.Claims
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="description" content="Ashion Template">
    <meta name="keywords" content="Ashion, unica, creative, html">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>@ViewData["Title"] - NhomBroccoli</title>
    @RenderSection("MetaTags", required: false)

    <!-- Favicon -->
    <link rel="shortcut icon" href="~/Assets/img/logoMenDesign.ico" type="image/x-icon" />

    @* Google font *@
    <link href="https://fonts.googleapis.com/css2?family=Cookie&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700;800;900&display=swap" rel="stylesheet">

    @* <link href="~/Assets/CSS/style.css" type="text/css" rel="stylesheet" />
    <link href="~/Assets/CSS/elegant-icons.css" type="text/css" rel="stylesheet" />
    <link href="~/Assets/CSS/jquery-ui.min.css" type="text/css" rel="stylesheet" />
    <link href="~/Assets/CSS/owl.carousel.min.css" type="text/css" rel="stylesheet" />
    <link href="~/Assets/CSS/magnific-popup.css" type="text/css" rel="stylesheet" />
    <link href="~/Assets/CSS/slicknav.min.css" type="text/css" rel="stylesheet" />

    <link href="~/Assets/CSS/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Assets/CSS/font-awesome.min.css" rel="stylesheet" /> *@

    <link rel="stylesheet" href="~/Assets/CSS/bootstrap.min.css" type="text/css">
    <link rel="stylesheet" href="~/Assets/CSS/font-awesome.min.css" type="text/css">
    <link rel="stylesheet" href="~/Assets/CSS/elegant-icons.css" type="text/css">
    <link rel="stylesheet" href="~/Assets/CSS/jquery-ui.min.css" type="text/css">
    <link rel="stylesheet" href="~/Assets/CSS/magnific-popup.css" type="text/css">
    <link rel="stylesheet" href="~/Assets/CSS/owl.carousel.min.css" type="text/css">
    <link rel="stylesheet" href="~/Assets/CSS/slicknav.min.css" type="text/css">
    <link rel="stylesheet" href="~/Assets/CSS/style.css" type="text/css">

    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-6F5HL7LKCN"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());

        gtag('config', 'G-6F5HL7LKCN');
    </script>

    <style>
        .fixed-square {
            width: 60px;
            height: 60px;            
            position: fixed;
            border-radius: 40px;
            border: none;
            top: 73vh;
            right: 17px;
            z-index: 9999;
            margin-bottom: 10px;
            cursor: pointer;
            background-image: url('/Assets/img/messengerlogo.png');
            background-size: cover;
            background-repeat: no-repeat;
            transition: width 0.3s ease, height 0.3s ease;
        }
        .fixed-square:hover {
            right: 18px;
            width: 65px;
            height: 65px;
            box-shadow: 0 0 15px rgba(0, 0, 255, 0.7);
        }
    </style>

    @* <link href="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/7.3.2/mdb.min.css" rel="stylesheet" /> *@

    @* <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css" integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A==" crossorigin="anonymous" referrerpolicy="no-referrer" /> *@
    @* <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" /> *@
    @* <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" /> *@
    @* <link rel="stylesheet" href="~/NhomBroccoli.styles.css" asp-append-version="true" /> *@
    
</head>
<body>     
    
    <div id="preloder">
        <div class="loader"></div>
    </div>
    
    <div class="offcanvas-menu-overlay"></div>
    <div class="offcanvas-menu-wrapper">
        <div class="offcanvas__close">+</div>
        <ul class="offcanvas__widget">
            <li><span class="icon_search search-switch"></span></li>
            <li>
                <a href="#">
                    <span class="icon_heart_alt"></span>
                    @* <div class="tip">2</div> *@
                </a>
            </li>
            <li>
                <a href="@Url.Action("CartView", "CartItems")">
                    <span class="icon_bag_alt"></span>
                    @* <div class="tip">2</div> *@
                </a>
            </li>
            <li>
                <a href="@Url.Action("Index", "Admin")">
                    <span class="icon_laptop"></span>
                </a>
            </li>
        </ul>
        <div class="offcanvas__logo">
            @* <a href="./index.html"><img src="~/Assets/img/logo.png" alt=""></a> *@
            <a href="@Url.Action("Index", "Home")"><img src="~/Assets/img/logoMenDesign.png" alt=""></a>
        </div>
        <div id="mobile-menu-wrap"></div>
        <div class="offcanvas__auth">
            @if (Context.Request.Cookies.ContainsKey("SessionToken"))
            {
                var token = Context.Request.Cookies["SessionToken"];
                var handler = new JwtSecurityTokenHandler();
                var jsonToken = handler.ReadToken(token) as JwtSecurityToken;

                // Lấy các claim từ token
                var nameClaim = jsonToken?.Claims.FirstOrDefault(c => c.Type == ClaimTypes.Name);
                var username = nameClaim.Value;

                <a href="#">Hello @username :> </a>
                <form asp-controller="Acount" asp-action="Logout" method="post" style="display:inline;">
                    <button type="submit" class="btn btn-link" style="padding: 0; border: none; background: none;">Logout</button>
                </form>
            }
            else
            {                
                <a href="@Url.Action("Index", "Login")">Login</a>
                <a href="@Url.Action("Index", "Register")">Register</a>
            }
        </div>
    </div>

    <header class="header">
        <div class="container-fluid">
            <div class="row align-items-center">
                <div class="col-xl-3 col-lg-2">
                    <div class="header__logo">
                        <a href="@Url.Action("Index", "Home")"><img src="~/Assets/img/logoMenDesign.png" alt=""></a>
                    </div>
                </div>
                <div class="col-xl-6 col-lg-7">
                    <nav class="header__menu">
                        <ul>
                            <li><a href="@Url.Action("Index", "Home")">Home</a></li>
                            <li><a href="@Url.Action("Index", "Shop")">Women’s</a></li>
                            <li><a href="@Url.Action("Index", "Shop")">Men’s</a></li>
                            <li class="active"><a href="@Url.Action("Index", "Shop")">Shop</a></li>
                            @* <li>
                                <a href="#">Pages</a>
                                <ul class="dropdown">
                                    <li><a href="./product-details.html">Product Details</a></li>
                                    <li><a href="./shop-cart.html">Shop Cart</a></li>
                                    <li><a href="./checkout.html">Checkout</a></li>
                                    <li><a href="./blog-details.html">Blog Details</a></li>
                                </ul>
                            </li> *@
                            <li><a href="@Url.Action("Index", "Blog")">Blog</a></li>
                            <li><a href="./contact.html">Contact</a></li>
                        </ul>
                    </nav>
                </div>
                <div class="col-lg-3">
                    <div class="header__right">
                        <div class="header__right__auth">
                            @if (Context.Request.Cookies.ContainsKey("SessionToken"))
                            {
                                var token = Context.Request.Cookies["SessionToken"];
                                var handler = new JwtSecurityTokenHandler();
                                var jsonToken = handler.ReadToken(token) as JwtSecurityToken;

                                // Lấy các claim từ token
                                var nameClaim = jsonToken?.Claims.FirstOrDefault(c => c.Type == ClaimTypes.Name);
                                var username = nameClaim.Value;

                                <a href="#">Hello @username :> </a>
                                <form asp-controller="Acount" asp-action="Logout" method="post" style="display:inline;">
                                    <button type="submit" class="btn btn-link" style="padding: 0; border: none; background: none;">Logout</button>
                                </form>
                            }
                            else
                            {
                                <a href="@Url.Action("Index", "Login")">Login</a>
                                <a href="@Url.Action("Index", "Register")">Register</a>
                            }
                        </div>
                        <ul class="header__right__widget">
                            <li><span class="icon_search search-switch"></span></li>
                            <li>
                                <a href="#">
                                    <span class="icon_heart_alt"></span>
                                    @* <div class="tip">2</div> *@
                                </a>
                            </li>
                            <li>
                                <a href="@Url.Action("CartView", "CartItems")">
                                    <span class="icon_bag_alt"></span>
                                    @* <div class="tip">2</div> *@
                                </a>
                            </li>
                            <li>
                                <a href="@Url.Action("Index", "Admin")">
                                    <span class="icon_laptop"></span>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="canvas__open">
                <i class="fa fa-bars"></i>
            </div>
        </div>
    </header>
    
    <div>
        <main role="main">
            @RenderBody()
        </main>
    </div>

    <footer class="footer">
        <div class="container">
            <div class="row">
                <div class="col-lg-4 col-md-6 col-sm-7">
                    <div class="footer__about">
                        <div class="footer__logo">
                            <a href="./index.html"><img src="~/Assets/img/logoMenDesign.png" alt=""></a>
                        </div>
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt
                            cilisis.
                        </p>
                        <div class="footer__payment">
                            <a href="#"><img src="~/Assets/img/payment/payment-1.png" alt=""></a>
                            <a href="#"><img src="~/Assets/img/payment/payment-2.png" alt=""></a>
                            <a href="#"><img src="~/Assets/img/payment/payment-3.png" alt=""></a>
                            <a href="#"><img src="~/Assets/img/payment/payment-4.png" alt=""></a>
                            <a href="#"><img src="~/Assets/img/payment/payment-5.png" alt=""></a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-2 col-md-3 col-sm-5">
                    <div class="footer__widget">
                        <h6>Quick links</h6>
                        <ul>
                            <li><a href="#">About</a></li>
                            <li><a href="#">Blogs</a></li>
                            <li><a href="#">Contact</a></li>
                            <li><a href="#">FAQ</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-2 col-md-3 col-sm-4">
                    <div class="footer__widget">
                        <h6>Account</h6>
                        <ul>
                            <li><a href="#">My Account</a></li>
                            <li><a href="#">Orders Tracking</a></li>
                            <li><a href="#">Checkout</a></li>
                            <li><a href="#">Wishlist</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-4 col-md-8 col-sm-8">
                    <div class="footer__newslatter">
                        @* <h6>NEWSLETTER</h6>
                        <form action="#">
                            <input type="text" placeholder="Email">
                            <button type="submit" class="site-btn">Subscribe</button>
                        </form> *@      
                        <script charset="utf-8" type="text/javascript" src="//js.hsforms.net/forms/embed/v2.js"></script>
                        <script>
                            hbspt.forms.create({
                                region: "na1",
                                portalId: "46822387",
                                formId: "7d7bb2cb-b123-4000-88a7-c91ba9035ba1"
                            });
                        </script>
                        @* <div class="footer__social">
                            <a href="#"><i class="fa fa-facebook"></i></a>
                            <a href="#"><i class="fa fa-twitter"></i></a>
                            <a href="#"><i class="fa fa-youtube-play"></i></a>
                            <a href="#"><i class="fa fa-instagram"></i></a>
                            <a href="#"><i class="fa fa-pinterest"></i></a>
                        </div> *@
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                    <div class="footer__copyright__text">
                        <p>Copyright &copy; <script>document.write(new Date().getFullYear());</script> All rights reserved | This template is made with <i class="fa fa-heart" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank">Colorlib</a></p>
                    </div>
                    <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                </div>
            </div>
        </div>
    </footer>    


    <div class="search-model">
        <div class="h-100 d-flex align-items-center justify-content-center">
            <div class="search-close-switch">+</div>
            <form class="search-model-form">
                <input type="text" id="search-input" placeholder="Search here.....">
            </form>
        </div>
    </div>
    
    @* <a href="https://m.me/318336581374252" class="fixed-square" target="_blank"></a> *@
    <a href="https://m.me/318336581374252?ref=VQP7bZWYxVoWp" class="fixed-square" target="_blank"></a>

    <!-- Start of HubSpot Embed Code -->
    <script type="text/javascript" id="hs-script-loader" async defer src="//js.hs-scripts.com/46822387.js"></script>
    <!-- End of HubSpot Embed Code -->


    @* <!--Start of Tawk.to Script-->
    <script type="text/javascript">
        var Tawk_API = Tawk_API || {}, Tawk_LoadStart = new Date();
        (function () {
            var s1 = document.createElement("script"), s0 = document.getElementsByTagName("script")[0];
            s1.async = true;
            s1.src = 'https://embed.tawk.to/6699c42332dca6db2cb1e591/1i34acbet';
            s1.charset = 'UTF-8';
            s1.setAttribute('crossorigin', '*');
            s0.parentNode.insertBefore(s1, s0);
        })();
    </script>
    <!--End of Tawk.to Script--> *@

    @* <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script> *@
    @* <script src="~/js/site.js" asp-append-version="true"></script> *@

    @* <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/7.3.2/mdb.umd.min.js"></script> *@

    <script src="~/Assets/js/jquery-3.3.1.min.js"></script>
    <script src="~/Assets/js/bootstrap.min.js"></script>
    <script src="~/Assets/js/jquery.magnific-popup.min.js"></script>
    <script src="~/Assets/js/jquery-ui.min.js"></script>
    <script src="~/Assets/js/mixitup.min.js"></script>
    <script src="~/Assets/js/jquery.countdown.min.js"></script>
    <script src="~/Assets/js/jquery.slicknav.js"></script>
    <script src="~/Assets/js/owl.carousel.min.js"></script>
    <script src="~/Assets/js/jquery.nicescroll.min.js"></script>
    <script src="~/Assets/js/main.js"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
